<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>科室医生</string>
	</dict>
    <dict>
        <key>name</key>
        <string>医生列表</string>
    </dict>
    <dict>
        <key>name</key>
        <string>医生介绍</string>
    </dict>
    <dict>
        <key>name</key>
        <string>快度服务</string>
    </dict>
    <dict>
        <key>name</key>
        <string>缴费支付</string>
    </dict>
    <dict>
        <key>name</key>
        <string>手机挂号</string>
    </dict>
    <dict>
        <key>name</key>
        <string>智能导诊</string>
    </dict>
    <dict>
        <key>name</key>
        <string>我的病历</string>
    </dict>
    <dict>
        <key>name</key>
        <string>发票打印</string>
    </dict>
    <dict>
        <key>name</key>
        <string>报告单查询</string>
    </dict>
    <dict>
        <key>name</key>
        <string>住院缴费</string>
    </dict>
    <dict>
        <key>name</key>
        <string>门诊缴费</string>
    </dict>
    <dict>
        <key>name</key>
        <string>我的预约单</string>
    </dict>
    <dict>
        <key>name</key>
        <string>候诊排队</string>
    </dict>
    <dict>
        <key>name</key>
        <string>健康体检</string>
    </dict>
    <dict>
        <key>name</key>
        <string>健康服务</string>
    </dict>
    <dict>
        <key>name</key>
        <string>门诊缴费</string>
    </dict>
    <dict>
        <key>name</key>
        <string>我的预约单</string>
    </dict>
    <dict>
        <key>name</key>
        <string>估预算</string>
    </dict>
    <dict>
        <key>name</key>
        <string>打印查询</string>
    </dict>
    <dict>
        <key>name</key>
        <string>预约复诊</string>
    </dict>
    <dict>
        <key>name</key>
        <string>医生推荐</string>
    </dict>
    <dict>
        <key>name</key>
        <string>我的预约单</string>
    </dict>
    <dict>
        <key>name</key>
        <string>排山倒海</string>
    </dict>
    <dict>
        <key>name</key>
        <string>嗒巴巴的</string>
    </dict>
        
</array>
</plist>
